:root {
    --darkgreen: #576338;
    --lightgreen: #AADB6C;
    --beige: #F4F2DC;
    --yellow: #F8FDB4;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

body {
    background-color: var(--beige);
    font-family: "Montserrat", sans-serif;
}

h2 {
    color: var(--darkgreen);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.btn {
    background-color: var(--lightgreen);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.navbar {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent; /* Initially transparent */
    font-weight: 600;
  }

  .navbar a {
    color: white; /* White text color before scrolling */
}

/* Change text color after scroll */
.navbar.scrolled a {
    color: black; /* Change to dark color after scrolling */
}
  
  /* Navbar background when scrolled */
  .navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9); /* Solid background color with slight transparency */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for visibility */
  }
  
  /* Hero Section */
  .hero-section {
    height: 100vh;
    background: url('hero-image.jpg') no-repeat center center;
    background-size: cover;
  }

  .nav-link.active {
    color: var(--lightgreen) !important; /* Change active link color */
    transition: 0.2s;
  }
  
