:root {
    --darkgreen: #576338;
    --lightgreen: #AADB6C;
    --beige: #F4F2DC;
    --yellow: #feffc8;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

body {
    background-color: var(--beige);
    font-family: "Montserrat", sans-serif;
}
p {
  text-align: justify;
}

h1 {
    color: var(--beige);
}

h2 {
    color: var(--darkgreen);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h3 {
    color: var(--darkgreen);
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

h5 {
    color: var(--darkgreen);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

p {
    font-weight: 500;
    font-size: medium;
    line-height: 1.5;
}

.btn {
  background-color: transparent;
  color: var(--lightgreen);
  padding: 12px 24px;
  border-radius: 15px;
  border: 2px solid var(--lightgreen);
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: var(--lightgreen);
  color: white;
}

.navbar {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent; /* Initially transparent */
    font-weight: 600;
  }

  .navbar a {
    color: white; /* White text color before scrolling */
}

/* Change text color after scroll */
.navbar.scrolled a {
    color: black; /* Change to dark color after scrolling */
}
  
  /* Navbar background when scrolled */
  .navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9); /* Solid background color with slight transparency */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for visibility */
  }
  
  /* Hero Section */
  .hero-section {
    height: 100vh;
    background: url('hero-image.jpg') no-repeat center center;
    background-size: cover;
  }

  .nav-link.active {
    color: var(--lightgreen) !important; /* Change active link color */
    transition: 0.2s;
  }

  .custom-rounded {
    border-top-left-radius: 60px; /* Nastavte podľa potreby */
    border-bottom-left-radius: 60px; /* Nastavte podľa potreby */
    border-top-right-radius: 0; /* Bez zaoblenia */
    border-bottom-right-radius: 0; /* Bez zaoblenia */
  }
  
  .custom-rounded-2 {
    border-top-left-radius: 0; /* Nastavte podľa potreby */
    border-bottom-left-radius: 0; /* Nastavte podľa potreby */
    border-top-right-radius: 60px; /* Bez zaoblenia */
    border-bottom-right-radius: 60px; /* Bez zaoblenia */ 
  }

  .container-stats {
    background-color: var(--yellow);
  }

.helpsection {
    background-color: var(--yellow);
}

h6 {
    color: var(--darkgreen);
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.h7 {
    color: var(--darkgreen);
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-left: 10px;
}

.container-miso {
    background-color: var(--yellow);
    height: 2000px;
}